name: Build Tweak
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Theos
        uses: theos/setup-theos@master

      - name: Build Tweak
        run: |
          make package FINALPACKAGE=1
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: GCTweak-Dylib
          path: .theos/obj/debug/*.dylib
